/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a {
  box-shadow: none;
}

p {
  margin-bottom: 1rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Helvetica, Source Sans Pro, sans-serif;
}
